<footer class="footer p-10 bg-base-200 text-base-content" data-theme="acid">
  <div>
    <a routerLink="/">
      <img
        id="home_img"
        src="https://ver-vite.assets.cdn.lancolatech.co.ke/assets/images/logo.webp"
        alt="logo"
        width="100"
        height="50"
      />
    </a>
    <p>Spaces Industries Ltd.<br />Providing reliable Services</p>
  </div>
  <div>
    <span class="footer-title">Services</span>
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
    <a class="link link-hover">Marketing</a>
    <a class="link link-hover">Advertisement</a>
  </div>
  <div>
    <span class="footer-title">Company</span>
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
    <a class="link link-hover">Press kit</a>
  </div>
  <div>
    <span class="footer-title">Legal</span>
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
  </div>
</footer>
