// @media (max-width: 768px) {
//     .navbar .dropdown {
//       display: none;
//     }

//     .navbar .dropdown-toggle::after {
//       content: "";
//     }

//     .navbar .dropdown-content {
//       display: block;
//       position: absolute;
//       top: 100%;
//       left: 0;
//       width: 100%;
//       padding: 0 20px;
//       box-sizing: border-box;
//       background-color: #fff;
//       border: 1px solid #ccc;
//       z-index: 1000;
//     }
//   }

