<div class="navbar bg-base-100" data-theme="lemonade">
  <div class="dropdown">
    <label tabindex="0" class="btn btn-ghost btn-circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h7"
        />
      </svg>
    </label>
    <ul
      tabindex="0"
      class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
    >
      <li><a>Homepage</a></li>
      <li tabindex="0">
        <a
          >Portfolio
          <svg
            class="fill-current"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path
              d="M8.58,7.41L13.17,12L8.58,16.59L10,18L16,12L10,6L8.58,7.41Z"
            />
          </svg>
        </a>
        <ul class="p-2 bg-base-100">
          <li><a>Submenu 1</a></li>
          <li><a>Submenu 2</a></li>
        </ul>
      </li>
      <li><a>About</a></li>
      <li><a>Contact</a></li>
      <li><a>Shop</a></li>
      <li><a>Cart</a></li>
      <li><a>Checkout</a></li>
      <li><a>Orders</a></li>
      <li><a>Wishlist</a></li>
      <li><a>Profile</a></li>
      <li><a>Settings</a></li>
      <li><a>Help</a></li>
      <li><a>Logout</a></li>
    </ul>
  </div>
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl" routerLink="/">
      <img
        id="home_img"
        src="https://ver-vite.assets.cdn.lancolatech.co.ke/assets/images/logo.webp"
        alt="logo"
        width="100"
        height="50"
      />
    </a>
  </div>
  <!-- <div class="form-control">
    <input type="text" placeholder="Search" class="input input-bordered" />
  </div> -->
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li tabindex="0">
        <a
          >Buy
          <svg
            class="fill-current"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path
              d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"
            />
          </svg>
        </a>
        <ul class="p-2 bg-base-100">
          <li><a>Submenu 1</a></li>
          <li><a>Submenu 2</a></li>
        </ul>
      </li>
      <div class="space-x-2">
        <!-- <label for="my-modal-3" class="btn btn-warning">Register</label>
        <label for="my-modal-2" class="btn btn-primary">Login</label> -->
        <button class="btn btn-active">Post Ad</button>
      </div>
    </ul>
  </div>
</div>

<input type="checkbox" id="my-modal-3" class="modal-toggle" />
<div class="modal">
  <div class="modal-box relative">
    <button
      for="my-modal-3"
      class="btn btn-sm btn-circle absolute right-2 top-2"
    >
      ✕
    </button>
    <h3 class="text-lg font-bold">Registration Form</h3>
    <p class="py-4">Registration form</p>
  </div>
</div>

<input type="checkbox" id="my-modal-2" class="modal-toggle" />
<div class="modal">
  <div class="modal-box relative">
    <label for="my-modal-2" class="btn btn-sm btn-circle absolute right-2 top-2"
      >✕</label
    >
    <h3 class="text-lg font-bold">Login From</h3>
    <p class="py-4">Login form</p>
  </div>
</div>
