<!-- Login/Register Modal -->
<div>
  <!-- Trigger Button -->
  <button
    (click)="open = true"
    class="bg-blue-500 text-white px-4 py-2 rounded"
  >
    Open Modal
  </button>

  <!-- Modal -->
  <div
    [@xShow]="open ? 'true' : 'false'"
    class="fixed inset-0 flex items-center justify-center z-50"
  >
    <!-- Modal Overlay -->
    <div class="fixed inset-0 bg-gray-900 opacity-50"></div>

    <!-- Modal Content -->
    <div class="bg-white p-6 rounded shadow-lg w-1/3">
      <!-- Modal Header -->
      <div class="flex items-center justify-between mb-4">
        <h2 class="text-lg font-semibold">Login/Register</h2>
        <button
          (click)="open = false"
          class="text-gray-500 hover:text-gray-700"
        >
          <svg
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
        </button>
      </div>

      <!-- Modal Body -->
      <div>
        <!-- Login Form -->
        <form>
          <div class="mb-4">
            <label
              for="login-email"
              class="block text-sm font-medium text-gray-700"
              >Email</label
            >
            <input
              type="email"
              id="login-email"
              class="form-input mt-1 block w-full"
              placeholder="Enter your email"
            />
          </div>
          <div class="mb-6">
            <label
              for="login-password"
              class="block text-sm font-medium text-gray-700"
              >Password</label
            >
            <input
              type="password"
              id="login-password"
              class="form-input mt-1 block w-full"
              placeholder="Enter your password"
            />
          </div>
          <button class="bg-blue-500 text-white px-4 py-2 rounded">
            Login
          </button>
        </form>

        <!-- Register Form -->
        <form class="mt-6">
          <div class="mb-4">
            <label
              for="register-email"
              class="block text-sm font-medium text-gray-700"
              >Email</label
            >
            <input
              type="email"
              id="register-email"
              class="form-input mt-1 block w-full"
              placeholder="Enter your email"
            />
          </div>
          <div class="mb-6">
            <label
              for="register-password"
              class="block text-sm font-medium text-gray-700"
              >Password</label
            >
            <input
              type="password"
              id="register-password"
              class="form-input mt-1 block w-full"
              placeholder="Enter your password"
            />
          </div>
          <button class="bg-blue-500 text-white px-4 py-2 rounded">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
